@font-face {
  font-family: myFirstFont;
  src: url("./Resources/Fonts/BorelandDemoRegular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

.headerData {
  background-color: #043b6b;
  /*
    Otra forma de hacer colores en HTML
    rgb(0, 59, 107) Rojo, Verde, Azul siendo el color más oscuro el 220
    background-color: rgb(220, 220, 220);

    background-color: hsla(220, 220, 20, 1);
  */  
  
  color: hsl(0, 0%, 100%);
}

.grid-container {
    display: grid;

}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    text-align: center;
}

body {
    font-size: 1.2rem;
    min-height: 100%;
}


.loginBox {
    background-image: url("./Resources/loginBetechManuales.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40.625rem;
    width: 100%;
}

.navBarData {
    grid-area: navBarData;    
}

.headerData {
    grid-area: headerData;
}


.titleHead {
    grid-area: titleHead;
    font-size: 5rem;
    font-family: myFirstFont;
}

.mainData {
    grid-area: mainData;
}

.footerData {
    grid-area: footerData;
    background-color: black;
    color: white;
    justify-content: center;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 
        "navBarData"
        "headerData"
        "mainData"
        "footerData";
}

@media (min-width: 300px) {
    .grid-container {
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 100px auto 100px;
        grid-template:
            "navBarData" 50px
            "headerData" 150px
            "mainData"   auto
            "footerData" 100px; 
    }

    .titleHead {
        font-size: 30rem;
    }
}

@media (min-width: 200px) {
    .grid-container {
        grid-template-columns: 100px auto;
        grid-template-rows: 50px 50px auto 50px;
        grid-template:
            "navBarData" 50px
            "headerData" 150px
            "mainData"   auto
            "footerData" 50px; 
    }

    .titleHead {
        font-size: 5rem;
    }
}




